@page
@model QLCH_Nhom2.Pages.NhapHang.CreateModel
@{
}
<script src="https://kit.fontawesome.com/5a213e1813.js" crossorigin="anonymous"></script>
<style>
    .cthd {
        width: 50%;
    }

    .itm {
        width: 50%;
        text-align: right;
        padding-right: 70px;
    }
</style>
<h2>Thêm phiếu nhập mới</h2>
<br />

<div style="display:flex; width:100%;">
    <div style="width:70%;">

        <div style="display:flex; width:70%;">
            <input type="text" class="form-control" style="margin-right: 30px;" name="Search" value="">
            <button type="submit" style="background-color:white; border-color:lightgray; color:black;" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã hàng</th>
                    <th>Tên hàng</th>
                    <th>Số lượng</th>
                    <th>Giá nhập</th>
                    <th>Thành tiền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>

    <div style="width:30%; ">
        <div style="margin-left: 30px; border:2px black solid; border-radius: 10px; padding: 10px 30px 10px 30px;">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label cthd">Mã phiếu nhập</label>
                <label class="col-sm-3 col-form-label itm"></label>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label cthd">Nhà cung cấp</label>
                <label class="col-sm-3 col-form-label itm"></label>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label cthd">Ngày nhập</label>
                <label class="col-sm-3 col-form-label itm"></label>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label cthd">Tổng số lượng</label>
                <label class="col-sm-3 col-form-label itm"></label>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label cthd">Tổng tiền</label>
                <label class="col-sm-3 col-form-label itm"></label>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label cthd">Chiết khấu</label>
                <label class="col-sm-3 col-form-label itm"></label>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label cthd">Thanh Toán</label>
                <label class="col-sm-3 col-form-label itm"></label>
            </div>
        </div>

        <div class="row mb-3" style="padding: 30px 0px 30px 55px;">
            <div class="offset-sm-3 col-sm-3 d-grid" style="margin:auto; width:50%;">
                <button type="submit" class="btn btn-primary" style="width:130px;background-color: #0dac50;">HOÀN THÀNH</button>
            </div>
            <div class="col-sm-3 d-grid" style="margin:0px; width:50%;">
                <a class="btn btn-outline-primary" style="width:130px;" href="/" role="button">HUỶ</a>
            </div>
        </div>
    </div>
</div>

